<mat-toolbar id="navbar-tag" class="bg-dark text-white pt-1 pb-1">
    <span id="title-tag" class="text-warning">
        <i class="bi bi-gift-fill"></i>AmazePack</span>

    <div class="nav-button-tag">
    <a mat-button id="productHomeButton" class="userButton" routerLink="/home" ><i class="bi bi-house-fill"></i>Home</a>
    <a mat-button id="productCartButton" class="userButton" routerLink="/cart" ><i class="bi bi-cart-fill"></i>My Cart</a>
    <a mat-button id="productOrderButton" class="userButton" routerLink="/orders"><i class="bi bi-bag-fill"></i>My Orders</a>
    </div>

    <div class="logout-tag">
    <a mat-button id="logoutButton" routerLink="/login" color="blue"><i class="bi bi-box-arrow-right"></i>LogOut</a>
    </div>
</mat-toolbar>