@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
#title-tag{
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
}
.userButton{
    color: whitesmoke;
    border: 3px blue;
    border-style:outset;
    height: 40px;
    width:150px;
    font-size: 20px;
}
#logoutButton{
    color: whitesmoke;
    border: 3px red;
    border-style: outset;
    height: 40px;
    width:150px;
    font-size: 20px;
}
.userButton:hover{
     background: blue;
     color: white;
     height: 45px;
     width: 165px;
     font-size: 25px;
     border: 3px whitesmoke;
     border-style: outset;
     border-radius: 25px;
}
#logoutButton:hover{
    background: red;
    color: white;
    height: 45px;
    width: 160px;
    font-size: 25px;
    border: 3px whitesmoke;
    border-style: outset;
    border-radius: 25px;
}
.mat-toolbar {
    max-height: 100px;
    min-height: 100px;
}
.nav-button-tag{
    padding:10px;
    margin-left : 85px;
}
#productCartButton{
    margin-left: 10px;
}
#productOrderButton{
    margin-left: 10px;
}
.logout-tag{
    padding:10px;
    margin-left: auto;
}
