<div>
    <nav class="navbar navbar-expand-lg" style="background-color: blueviolet;">
        <div class = " d-flex justify-content-center">
        <h2 style="color:white" id = "h1">Amaze Pack</h2>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 " id="signupBox">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h3 class="col-12 mb-4">Signup here to continue.</h3>
            <div class="mb-3 col-12" >
                <div class="form-group">
                    <input id="email" class="form-control" type="email" placeholder="Enter Email" formControlName="email"
                    [class.is-invalid] = "email?.invalid && email?.touched">
                    <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                        <small *ngIf="emailcontrols?.['required']">{{errorMessage.email.required}}</small>
                        <small *ngIf="emailcontrols?.['pattern']">{{errorMessage.email.pattern}}</small>
                    </div>
                </div><br>

            <div class="form-group">
                <input id="username" class="form-control" type="text" placeholder="Enter User Name" formControlName="username"
                [class.is-invalid] = "userName?.invalid && userName?.touched" (change)="setUserRole()">
                <div *ngIf="userName?.invalid && userName?.touched" class="text-danger">
                    <small *ngIf="userNamecontrols?.['required']">{{errorMessage.username.required}}</small>
                    <small *ngIf="userNamecontrols?.['minlength']">{{errorMessage.username.minlength}}</small>
                </div>
            </div><br>

            <div class="form-group">
                <input id="mobileNumber" class="form-control" type="text" placeholder="Enter Mobile Number" formControlName="mobileNumber"
                [class.is-invalid] = "mobileNumber?.invalid && mobileNumber?.touched" maxlength="10" (keypress)="onlyNumbersAllowed($event)">
                <div *ngIf="mobileNumber?.invalid && mobileNumber?.touched" class="text-danger">
                    <small *ngIf="mobileNumbercontrols?.['required']">{{errorMessage.mobileNumber.required}}</small>
                    <small *ngIf="mobileNumbercontrols?.['minlength']">{{errorMessage.mobileNumber.minlength}}</small>
                </div>
            </div><br>

            <div class="form-group">
                <input id="password" class="form-control" type="password" placeholder="Enter Password" formControlName="password"
                [class.is-invalid] = "password?.invalid && password?.touched" (change)="onPasswordMatch()">
                <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                    <small *ngIf="passwordcontrols?.['required']">{{errorMessage.password.required}}</small>
                    <small *ngIf="passwordcontrols?.['pattern']">
                        {{errorMessage.password.pattern}}<br>{{errorMessage.password.line1}}<br>
                        {{errorMessage.password.line2}}<br>{{errorMessage.password.line3}}<br>
                    </small>
                </div>
            </div><br>

            <div class="form-group">
                <input id="confirmPassword" class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                [class.is-invalid] = "confirmPassword?.invalid && confirmPassword?.touched" (change)="onPasswordMatch()">
                <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-danger">
                    <small *ngIf="confirmPasswordcontrols.errors?.['required']">{{errorMessage.confirmPassword.required}}</small>
                    <small *ngIf="confirmPasswordcontrols.hasError('mismatch')">{{errorMessage.confirmPassword.mismatch}}</small>
            </div>
        </div>
        <br>
    </div>
    <div class="button-tag">
        <button id="submitButton" [disabled]="!signUpForm.valid" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-12" >
        <h4 class="msg">Already a User ? <a id = "logininLink" routerLink = "/login">Login</a></h4>
    </div>
    </form>
</div>
<div  class="col-lg-6 col-md-6 col-12" id="image">
    <img src="../../assets/images/login-main.png" class="img-fluid" alt="Responsive image" >
</div>
</div>
</div>