#cartBody{
    background-color: rgb(243, 243, 176);
}
.card{
    height:60vh;
    margin:25px;
    padding:25px;

}
.center{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    position:absolute;

}
h1,h2{
    font-weight:400;
}
.card-table{
    display:flex;
    min-width:none;
    flex-direction: column;
    position:relative;
    word-wrap:break-word;
    background-color:white;
    border:1px solid black;
    background-clip:border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius:.25rem;
}
.center .btn{
    margin-top:25px !important;
    font-size:15px !important;
    font-weight:400;
    padding:10px 70px;
    border-radius:3px !important;


}
.btnn{
    background:rgb(173, 50, 71);
    border-radius: 50%;
    font-size:16px;
    color:white;
    margin:0 8px;
}