<div id="userNavbar">
    <app-user-navbar></app-user-navbar>
</div>
<div id="cartBody">
<ng-container *ngIf="product.length!=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of product; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.product_name}}</td>
                            <td><img src="{{item.product_img}}" height="65" width="65"></td>
                            <td>{{item.product_price}}</td>
                            <td><button (click)="item.quantity=item.quantity+1;localCart()" type="button"  class="btnn" [disabled]="item.quantity>=item.product_quantity"><i class="fa fa-plus"></i></button>
                                <span>{{item.quantity}}</span>
                                <button (click)="item.quantity=item.quantity-1;localCart()" type="button" class="btnn" [disabled]="item.quantity <= 1"><i class="fa fa-minus"></i></button>
                            
                            </td>
                            <td>{{item.product_price*item.quantity}}</td>
                            <td><button (click)="removeItem(item)" class="btn btn-danger"><i class="fa fa-trash-alt"></i></button></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><button (click)="emptyCart()" class="btn btn-danger">Delete Cart</button></td>
                            <td><button routerLink="/home" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">CheckOut</button></td>
                            <td><strong><h2>Grand Total:{{grandTotal}}</h2></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
      </div>
</ng-container>

<ng-container *ngIf="product.length==0">
    <div class="container">
        <div class="card">
            <h3 class="card-title">My Cart</h3>
        </div>
        <div class="center">
            <h1>
                Your Cart is Empty!!
             </h1>
             <h2>Add Items To It Now</h2>
             <button routerLink="/home" class="btn btn-primary">Shop Now</button>
        </div>  
    </div>
</ng-container>
</div>
<div id="footer-tag">
    <app-footer-homepage></app-footer-homepage>
</div>
