<div class="notFound-container">
    <div class="notFound-tag">
        <p style="font-size: 40px;"><i class="bi bi-exclamation-triangle-fill"></i></p>
        <h1><strong>Oops!</strong></h1>
        <h2>404 Not Found!!</h2>
        <div class="error-tag">
            Sorry, an error has occured. Requested page not found!
        </div>
        <div class="goBack-tag">
            <a routerLink="/" class="btn btn-primary" id="back-tag">Take Me to Login Page<i class="bi bi-hand-index"></i></a>
        </div>
    </div>
</div>