.form-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 400px;
  margin-top: 25px;
  border: 4px outset grey;
}

.mat-label{
  font-weight: bold;
}
.cityState{
  display: flex;
  flex-direction: row;
}
#state-tag{
  margin-left: 20px;
}
.mat-button:disabled{
  background-color: grey;
  color:aliceblue
}
.mat-button:enabled{
  border: 2px solid grey;
  background-color: blue;
  color: white;
}
.mat-button:hover{
  height: max-content;
  font-size: large;
}
.mat-hint{
  text-align: center;
}