<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Amaze Pack</h3>
        </div>

        <ul class="list-unstyled components">
            <p><B>Admin</B></p>
            <li class="active">
                <a href="/dashboard" data-toggle="collapse" aria-expanded="false" ><b>Home</b></a>
            </li>
            <li class="active">
                <a href="/user" data-toggle="collapse" aria-expanded="false"><b>USER MANAGEMENT</b></a>
            </li>
            <li class="active">
                <a href="/display-product" data-toggle="collapse" aria-expanded="false"><b>PRODUCT MANAGEMENT</b></a>
            </li>
            <li class="active">
                <a href="/dashboard" data-toggle="collapse" aria-expanded="false"><b>CART MANAGEMENT</b></a>
            </li>
            <li class="active">
                <a href="/dashboard" data-toggle="collapse" aria-expanded="false"><b>ORDER MANAGEMENT</b></a>
            </li>
            <li class="active">
                <a href="/dashboard" data-toggle="collapse" aria-expanded="false"><b>REVIEW MANAGEMENT</b></a>
            </li>
        </ul>
<div>
    <ul class="list-unstyled CTAs">
        <li class="active">
            <a href="login" data-toggle="collapse" aria-expanded="false"><b></b>Logout</a>
        </li>
       
    </ul>
</div>
        
    </nav>

    <!-- Page Content  -->
    <div id="content">
</div>
<footer class="footer">
    <div class="icons">
        <span><B>Copyright @Amazepack</B></span>
    <i class=" fa fa-facebook"></i>
    <i class=" fa fa-twitter"></i>
    <i class=" fa fa-instagram"></i>
    <i class=" fa fa-linkedin"></i>  
    </div>
</footer>
       