<footer class="bg-dark text-white pt-1 pb-1">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning"><strong>AmazePack</strong></h4>
                    <p>Amaze Pack is an online store for purchasing gift items. 
                    Our benefits and care policies are driven by empathy and customised
                    to the unique needs of individual Customer.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning"><strong>Info</strong></h4>
                <p>
                    <a href="/#" class="text-white" style="text-decoration:none;">About Us</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Privacy Policy</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Orders & Returns</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Terms & Conditions</a>
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning"><strong>Contact Us</strong></h4>
                <p>
                    <i class="fa fa-home mr-3"></i> Chennai, CY 2333,IND
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> amazepack@gmail.com
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +91 9944220099
                </p>   
            </div>

            <hr class="mb-4">
            
            <div class="row align-items-center">

                <div class="col-md-3 col-lg-7">
                    <p> Copyright &copy;{{year}} | All rights reserved by:
                        <a href="/home" class="btn-floating btn-sm text-white" style="font-size: 15px; text-decoration: none;">
                            <i class="fa fa-gift"></i>
                        <strong class="text-warning"> AmazePack</strong>
                    </a>
                </p>
                </div> 

                <div class="col-md-3 col-lg-4">
                    <div class="text-center text-md-right"> 

                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 25px;">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>